
  <!-- show-data works! -->
  	<!-- <li *ngFor="let d of data">
  		{{ d.content }}: {{ d.description }}
  	</li> -->
  <ul style="list-style:none">
    <li *ngFor="let d of serializer.data">
      <input type="checkbox" class="checkItem" id ="{{d.id}}">
      <script type="text/javascript">
        function showDescription(id){
          alert(document.getElementById('descText-'+id).value)
        }
      </script>
      <a href="/todo/{{d.id}}">{{ d.content }}</a>
      <form class="removeTodoItem" action="/removeTodo/{{d.id}}"
      style = "display:inline"
      method="post">
        <input type="hidden" class="checkedList" name="" value="">
        <input type="hidden" class="uncheckedList" name="" value="">
        <input type="submit" name="" class="delButton" value="Delete">
      </form>
      <input type="hidden" id="descText-{{d.id}}"name="" value="{{d.description}}">
      <button type="button"  class ="button" name="button">Description</button>
    </li>

  </ul>
    <form class="addTodoForm" action="/addTodo/" id="addForm" method="post">
      <input type="text" name="content" placeholder="Task Name" value="" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
      <br/>
      <textarea name="description" form = "addForm" class="form-control" aria-label="With textarea" maxlength = "200" rows="4" cols="10" placeholder="Task Description ..."></textarea>
      <br/>
      <input type="hidden" name="parent_id" value="parent_home">
      <input type="hidden" class="checkedList" name="" value="">
      <input type="hidden" class="uncheckedList" name="" value="">
      <input type="submit" name="" value="Add Item">
    </form>
    <form class="" action="/todo/0" method="post">
      <input type="submit" name="" value="return home">
      <input type="hidden" class="checkedList" name="" value="">
      <input type="hidden" class="uncheckedList" name="" value="">
    </form>
