<div class="content_div_outer">
  <div class="content_div_inner jumbotron">
    <!-- {{serializer.par_id}} -->
      <app-show-data></app-show-data>
        <!-- {% for todo_item in all_items %}
          <li>
            <input type="checkbox" class="checkItem" id ="{{todo_item.id}}">
            <script type="text/javascript">
              function showDescription(id){
                alert(document.getElementById('descText-'+id).value)
              }
            </script>
            <a href="/todo/{{todo_item.id}}">{{ todo_item.content }}</a>
            <form class="removeTodoItem" action="/removeTodo/{{todo_item.id}}"
            style = "display:inline"
            method="post"> {% csrf_token %}
              <input type="hidden" class="checkedList" name="" value="">
              <input type="hidden" class="uncheckedList" name="" value="">
              <input type="submit" name="" class="delButton" value="Delete">
            </form>
            <input type="hidden" id="descText-{{todo_item.id}}"name="" value="{{todo_item.description}}">
            <button type="button" onclick="showDescription({{todo_item.id}})" class ="button" name="button">Description</button>
          </li>
        {% endfor %} -->
  </div>
</div>
